<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--通知Spring IoC容器初始化時，加載config文件-->
    <context:property-placeholder location="classpath:config.propeties"></context:property-placeholder>

    <!--
        在IoC初始化時自動掃描速種組件類型註釋並完成物件的實例化
        @Repository
        @Service
        @Controller
        @Componet
    -->

    <context:component-scan base-package="com.imooc"></context:component-scan>
    
</beans>